<h1 style="color:black">About Us</h1>
<p style="color:black">We, <em>no, I do not have a mouse in my pocket, </em>my awesome teacher, the other course mates and I, are working on our One Month Rails Pinteresting App!</p>
<p></p>
<p style="color:black">Hello everyone, this is my first attempt at Ruby on the Rails.  I am very excited to have found this program, since I have been actively researching how to go about having my own blog page or business page. As to what it will become, that is up to my mad scientist brain. Muhahahaha... <em>(Yes, I have a sense of humor, and odd one some say, but at least I have one.)</em></p>
<p></p>
<p style="color:black">A little about me, I am currently a stay-at-home mom after five years of elementary teaching.  During those years I also was blessed with two little curtain climbers.  I feel I am enjoying the best year so far as nothing tops being able to spend time with my babies since they are growing up way too fast.  This is also a time of reawakening for my creative side and I long to get back to taking bits and pieces and creating something new.  This project is one of my educational journeys I am embarking on, education beyond what I currently know.  The last time I dabbled in html or anything of this nature I was in high school creating pick-your-own ending stories.</p>
<p></p>
<p style="color:black">Enjoy your stay here, pursuing, clicking, and discovering.  Feel free to wonder and laugh aloud as you journey with me into one of my creations.</p>
<p></p>

<p style="color:black">Yours Truely,</p>
<p style="color:black">MommyMoo (insert name later)</p>



<address>
		<strong>Name of Company</strong><br>
		street address<br>
		City, State, Zip Code<br>
		<abbr title="Phone">P:</abbr> (906) 123-4567
</address>

<address>
		<strong>Full Name</strong><br>
		<a href="mailto:#">first.last@example.com</a>
</address>


<blockquote class="blockquote-reverse">
  <p style="color:blue">Remember, the light at the end of the tunnel, may be YOU.</p>
  <footer>Aerosmith <cite title="Source Title">Tyler, Steven, and Richie Supa. Amazing. Aerosmith. Faibairn, 1993. CD.</cite></footer>
</blockquote>