	<div class="jumbotron">
		<div class="container-fluid">
		<h1>Welcome to my app!</h1>
		<p style="color:white"> Click here to <%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %>. Thank You. </p>
	</div>
</div>
